<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/imagens/logoicon.png}" type="image/x-icon">
    <title>HustinCollabe Imóveis</title>
    <!-- Ajustados os caminhos dos arquivos de CSS -->
     <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<header>
    <div class="d-flex justify-content-between align-items-center p-3 bg-secondary">
        <div class="navegacao">
            <img th:src="@{/imagens/logo3.png}" alt="Logotipo da HustinCollabe">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/home}">HOME</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active" th:href="@{/imoveis}">Encontre Seu Imóvel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/faleconosco}">Fale Conosco</a>
                            </li>
                        </ul>
                        <span class="navbar-text">*HustinCollabe - Sua Imobiliária Virtual*</span>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<body>
    <div>
        <div><br>
            <p>Clientes<br>Se você já é nosso cliente, utilize um destes canais de contato.<br>Selecione abaixo o canal de sua preferência</p>
            <div class="logo-container">
                <img th:src="@{/imagens/logoicon.png}" alt="Logotipo da HustinCollabe">
            </div>
        </div>
    </div>

    <main class="container my-5 fale-conosco">
        <div class="row gy-4">
            <div class="col-md-6">
                <div class="card border-black text-center p-3">
                    <i class="bi bi-instagram"></i>
                    <h2 class="text-black">Instagram</h2>
                    <a href="https://www.instagram.com/" target="_blank" class="btn btn-light">Visite nosso Instagram</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-black text-center p-3">
                    <i class="bi bi-facebook"></i>
                    <h2 class="text-black">Facebook</h2>
                    <a href="https://www.facebook.com/" target="_blank" class="btn btn-light">Acesse nosso Facebook</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-black text-center p-3">
                    <i class="bi bi-envelope"></i>
                    <h2 class="text-black">Email</h2>
                    <a href="mailto:hcollabe@gmail.com" class="btn btn-light">Enviar email: hcollabe@gmail.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-black text-center p-3">
                    <i class="bi bi-telephone"></i>
                    <h2 class="text-black">Telefone</h2>
                    <p>(51) 94099-9999</p>
                    <a href="tel:+5551940999999" class="btn btn-light">Contatar</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-black text-center p-3">
                    <i class="bi bi-person-circle"></i>
                    <h2 class="text-black">Portal do Cliente</h2>
                    <p>(51) 94099-9991</p>
                    <a href="tel:+5551940999991" class="btn btn-light">Contatar</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-black text-center p-3">
                    <i class="bi bi-chat-dots"></i>
                    <h2 class="text-black">Ouvidoria</h2>
                    <p>(51) 94099-9992</p>
                    <a href="tel:+5551940999992" class="btn btn-light">Contatar</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-secondary text-white text-center py-3">
        <div class="redes-sociais">
            <a href="https://www.instagram.com" target="_blank">
                <img th:src="@{/imagens/instagram.png}" alt="Instagram" /></a>
            <a href="https://www.linkedin.com/" target="_blank">
                <img th:src="@{/imagens/linkedin.png}" alt="Linkedin" /></a>
            <a href="https://www.facebook.com" target="_blank">
                <img th:src="@{/imagens/facebook.png}" alt="Facebook" /></a>
            <p><br>&copy; 2025. HustinCollabe Imóveis Ltda. Desenvolvido por Izaura TM. Todos os direitos reservados.</p>
            <p><a href="#politica-de-privacidade">Política de Privacidade</a> | <a href="#termos-de-servico">Termos de Serviço</a> | <a href="#contato">Contato</a></p>
        </div>
    </footer>

   <script th:src="@{/js/script.js}"></script>
   </body>
</html>